html, body {
  width: 100%;
  min-width: 1100px;
  margin: 0;
  background: url("https://static.pexels.com/photos/219692/pexels-photo-219692.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header .container {
  width: 100%;
  min-width: 1100px;
  margin: 0;
  height: 100vh;
  min-height: 500px;
  padding: 0;
  text-align: center;
}

.header h1 {
  position: relative;
  top: 22%;
  font-family: 'Reem Kufi', sans-serif;
  color: white;
  font-size: 200px;
}

.header p {
  position:relative;
  top: 22%;
  padding: 0;
  background-color: rgba(0, 0 ,0 , 0.75);
  border-top: 2px solid #038EF9;
  border-bottom: 2px solid #038EF9;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 80px;
  color: white;
}

.main .container {
  width: 100%;
  margin-bottom: 180px;
  padding: 0px;
  float: left;
  clear: both;
}

.rows {
  position: relative;
  height: 100%;
  font-family: 'Reem Kufi', sans-serif;
  color: white;
  text-align: center;
  display: inline-block;
}

.rows h1 {
  font-size: 60px;
  letter-spacing: 5px;
}

.rows p {
  font-size: 25px;
  padding: 10px 7px 7px 7px;
  text-align: left;
  letter-spacing: 1px;
  margin-right: 0px;
}

#story {
  margin: 0;
  float: left;
  width: 50%;
  border: 2px solid #31C42E;
  background-color: rgba(0, 0 ,0 , 0.75);
}

#workEd {
  width: 50%;
  margin: 0;
  float: right;
  border: 2px solid #BF08DD; 
  background-color: rgba(0, 0 ,0 , 0.75);
}

.scrollToTop {
  z-index: 2;
  font-size: 70px;
  width: 100px;
  height: 100px;
  margin-right: -50px;
  margin-bottom: -20px;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
}

.scrollToTop:hover {
  text-decoration: none;
}

.scrollToTop:visited {
  color: white;
}

.footer .container {
  clear: both;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: black;
  text-align: center;
}

.footer h1 {
  margin: 0;
  padding: 1vh 0;
  font-family: 'Reem Kufi', sans-serif;
  color: white;
  font-size: 27px;
  letter-spacing: 5px;
}

.footer ul {
  max-height: 40vh;
  display: inline-block;
  list-style: none;
  padding: 0;
}

.footer li {
  padding: 4px 0;
}
.footer li a{
  font-family: 'Reem Kufi', sans-serif;
  color: white;
  font-size: 18px;
}

/*RESET*/

html, body, div, span, applet, object, iframe,
h1, p, a, del, dfn, em, img, ol, ul, li, form, 
footer, header, menu, nav {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

body {
 line-height: 1;
}

